<script>

import {
	Column,
	Grid,
      Row,
      Tile,
    } from "carbon-components-svelte";
    import Modal from '../lib/Modal.svelte'
    let modalOpen = false
</script>
<div class="wrapper">
    
    <Tile>
        <p class="just-a-uniq-class">
                <Grid>
                    <Row>
                        <div class="flexor">
                            <Column>

                                <p>
                                    Thank you for your support!  
                                </p>
                                <p>
                                    Newberry held its election on November 1st, 2022.  The results were successful; the union has been formed.  Welcome to Newberry’s first ever union!
                                </p>
                                <p>
                                    Stay in touch! Add your personal email to <a href="https://forms.gle/y3BG1vpf4ewLh9CG9" target="_blank">the official list</a>.
                                </p>
                            </Column>
                            <Column>
                                <div class="imagewrapper"  on:click={() => modalOpen = !modalOpen}  >
                                    <img class="lil-image" src="announcement.jpeg" alt=""/>
                                </div>
                                
                            </Column>
                        </div>
                    </Row>
                </Grid>
        </p>
    </Tile>
    
</div>
{#if modalOpen}
    <Modal open={modalOpen}>
        <img class="modal-image" src="announcement.jpeg" alt=""/>
    </Modal>
{/if}
<style>
    .tile-wrap {
        height: 100%;
    }
    .lil-image {
        width: 100%;
    }
    p {
        margin: 15px;
    }
    .imagewrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
</style>