<script>
    import {
      StructuredList,
      StructuredListHead,
      StructuredListRow,
      StructuredListCell,
      StructuredListBody,
    } from "carbon-components-svelte";
  </script>
  <div class="padwrapper">
  
      <StructuredList flush condensed>
          <StructuredListBody>
              <StructuredListRow><StructuredListCell><span class="bold big">About AFSCME</span></StructuredListCell></StructuredListRow>
              
              <StructuredListRow><StructuredListCell><span class="bold">AFSCME has unions with the following libraries: </span>The Chicago Public Library, the Niles-Maine Public Library, the Library of Congress, the New Mexico State University Library, the Los Angeles Public Library, the Free Library of Philadelphia, the New York Public Library, the Boston Public Library, and MIT University Libraries, the Louisville Free Public Library, and others across the country. </StructuredListCell></StructuredListRow>
              <StructuredListRow><StructuredListCell><span class="bold">And the following museums: </span> The Field Museum, the Art Institute of Chicago, the Illinois State Museum, the Philadelphia Museum of Art, The MET, the Brooklyn Museum, the Museum of Contemporary Art L.A. (MOCA), Museum of Tolerance, the American Museum of Natural History, Milwaukee Public Museum, the Detroit Historical Society and many others across the country.</StructuredListCell></StructuredListRow>
              <StructuredListRow><StructuredListCell><span class="bold">AFSCME also represents members in:</span>  botanical gardens, zoos, planetariums, science centers, and other cultural institutions.</StructuredListCell></StructuredListRow>
              <StructuredListRow><StructuredListCell><span class="bold">Museum of Contemporary Art L.A. (MOCA)</span> is similar to Newberry's financial structure. It is free and depends on the endowment, donations and grants for support. AFSCME has been successful in unionizing there and was able to improve salaries and working conditions. </StructuredListCell></StructuredListRow>
          </StructuredListBody>
      </StructuredList>
  </div>
  
  