
<img src="newberry-workers-united-tsp.png" alt="" />

<style>
    img {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: -100;
        width: 25vw;
        opacity: 0.2;
    }
</style>