<script>
	import { Tile } from "carbon-components-svelte";
</script>
<Tile>
    <p class="header-text">

            <span>We are our union. We set our bargaining priorities. We need and want everyone’s input on which issues you think need change–and which you think are working well. </span>
            <span>We will circulate a more complete survey after the election, but we want your thoughts now. This survey will remain live until at least Nov. 18.</span>
    </p>
    <p class="iframe">
        <span class="italics"><a href="https://forms.gle/kdTRhAGeyMKaDCnH7" target="_blank">open this form in a separate tab</a></span>
        <iframe src="https://forms.gle/kdTRhAGeyMKaDCnH7" title="survey" />
    </p>
</Tile>

<style>
    .header-text span {
        display: block;
        margin-bottom: 20px;
    }
    .iframe span {
        font-size: 0.85em;
        display: block;
        text-align: center;
        margin: auto;
    }
    .iframe {
        width: 100%;
        height: calc(100vh - 350px);
        margin: 20px 0 0 0;
    }
    .iframe iframe {
        height: 100%;
        width: 100%;
    }
</style>