<script>

import {
      Button,
      ButtonSet,
	  Column,
	  Grid,
      Row,
	  Tile,
    } from "carbon-components-svelte";
    import Modal from './Modal.svelte'
    let content = []
    function contentSwitcher (index)  {
        content = coworkersNames[index] ? coworkersNames[index] : []
    }
    const coworkersNames = [
        ["Emily","Altman"],
        ["Dylan", "Bingham"],
        ["Haku", "Blaisdell"],
        ["Leith", "Calcote"],
        ["Luke", "Cimarusti"],
        ["Sophia", "Croll"],
        ["Claire", "Dapkiewicz"],
        ["Allison", "DeArcangelis"],
        ["Grace", "Dumelle"],
        ["Rebecca", "Fall"],
        ["Stuart", "Fraser"],
        ["Catherine", "Gass"],
        ["Salma", "Geneidy"],
        ["Graham", "Greer"],
        ["Yasmine", "Hachimi"],
        ["Juan", "Molina Hernández"],
        ["Jane", "Kanter"],
        ["Emily", "Keeler"],
        ["Patrick", "Kepley"],
        ["Scott", "Krave"],
        ["Keva", "Kreeger"],
        ["Emma", "Lipkin"],
        ["Analú", "López"],
        ["Becky", "Lowery"],
        ["Natalia", "Maliga"],
        ["John", "Martino"],
        ["Tina", "Saenz"],
        ["Elynnor", "Sandefer"],
        ["Martina", "Schenone"],
        ["Quinn", "Sluzenski"],
        ["Cheryl", "Wegner"],
        ["​Catherine", "White"],
        ["Nicolas", "White"],
        // ["Nicolas", "White", "Unions are a professional obligation, just like any other; as librarians and library staff, it is our vocational duty to demonstrate our support for patrons, other librarians, Chicagoans at large, and on the national stage at a historical moment in desperate need of solidarity."],
        ["Alicia", "Zeimet"]
].sort((a,b) => { return a[1] > b[1] ? 1 : -1})

    let src = "union-1.jpeg"
    function swapImage() {
        src = "union-2.jpeg" 
    }
    const revSwapImage = () => {
        src = 'union-1.jpeg'
    } 
    let modalOpen = false
</script>
<div class="wrapper">
    <Grid>
        <Row>
            <div class="flexor">
                <div class="scroller">
                    <ButtonSet stacked>
                        {#each coworkersNames as name, i}
                            <Button kind="ghost" on:click={() => contentSwitcher(i)}>{`${name[0]} ${name[1]}`}</Button>
                        {/each}
                    </ButtonSet>
                </div>
                <Column>
                        {#if content.length > 2}
                            <Tile>

                                <blockquote>
                                    {content[2]}
                                    <cite>{`${content[0]} ${content[1]}`}</cite>
                                </blockquote>
                            </Tile>    

                        {:else}
                            <img {src} alt="" class="union-image" on:mouseenter={swapImage} on:mouseleave={revSwapImage} on:click={() => modalOpen = !modalOpen} />
                        {/if}
                </Column>
            </div>
        </Row>
    </Grid>
</div>

{#if modalOpen}
    <Modal open={modalOpen}>
        <img class="modal-image" on:mouseenter={swapImage} on:mouseleave={revSwapImage} {src} alt=""/>
    </Modal>
{/if}
<style>
    .scroller {
        width: 220px;
        margin: auto;
        direction: rtl;
        overflow-y: auto;
    }
    :global(.scroller) * {
        direction: ltr;
    }
    .union-image {
        margin: 0 30px;
        width: calc(100% - 60px);
    }
    blockquote {
        /* font-family: Georgia, serif; */
        font-size: 18px;
        font-style: italic;
        /* width: 80%; */
        margin: 0.25em auto;
        padding: 0.35em 40px;
        line-height: 1.45;
        position: relative;
        color: #383838;
    }

    blockquote:before {
        display: block;
        padding-left: 10px;
        content: "\201C";
        font-size: 80px;
        position: absolute;
        left: -20px;
        top: -20px;
        /* color: #7a7a7a; */
    }
    blockquote:after {
        display: block;
        padding-left: 10px;
        content: "\201D";
        font-size: 80px;
        position: absolute;
        right: 10px;
        bottom: -20px;
        /* color: #7a7a7a; */
    }

    blockquote cite {
        width: 100%;
        text-align: right;
        color: #999999;
        font-size: 14px;
        display: block;
        margin-top: 5px;
    }

    blockquote cite:before {
        content: "\2014 \2009";
    }
</style>