<script>
    import { 
        Accordion, 
        AccordionItem, 
        Tile,
   
    } from "carbon-components-svelte";
    import { selected } from '../stores'
    import SlText from './SlText.svelte'
</script>
<div class="padwrapper">
    <Accordion>
        <AccordionItem title="Why a union?">
            <SlText>Forming a union is a long-term investment in the Newberry, its collections, and its community. It will give staff a consistent voice in shaping long-term institutional goals and help ensure we have the support we need to do our work well. </SlText>
            <SlText>A union is different from internal committees, like the Library Committee. Unlike these committees, a union cannot be quietly or suddenly disbanded. A union is also a legally recognized entity. Working through a union will give us more resources and authority.</SlText>
            <SlText>Many of us also see forming a union as is a professional responsibility–to librarians, to Chicago, and to our country. We stand with workers and our research community. Unionizing helps us hold our professions to high standards, make our fields more equitable, and ensure they have a sustainable future.</SlText>

        </AccordionItem>
        <AccordionItem title="Why AFSCME?">

            
            
            <SlText>Through <a href="https://www.culturalworkersunited.org/" target="_blank">Cultural Workers United</a>, AFSCME has extensive experience working with libraries, museums, and other cultural institutions. They understand concerns unique to our field and the value of the work we do. See the <a on:click={() => selected.update(value => value = 4)} class="fake-link">about AFSCME page</a> for more.</SlText>
            <SlText>AFSCME isn’t our union. Eligible Newberry staff members are our union. AFSCME is a parent organization that provides resources, experience, and community as we advocate for the issues we choose. They have no say in our bargaining priorities. We pay dues (likely $47/month) to support these resources for ourselves and others. (Part-time employees will have a reduced dues payment.)</SlText>
<SlText>Some have expressed concerns about AFSCME’s relationship with police unions. See the <a href="https://copfreeafscme.com/">COP-FREE AFSCME</a> page to learn about how rank-and-file AFSCME members are fighting against the inclusion of police unions and in favor of racial and economic justice.</SlText>
        </AccordionItem>
        <AccordionItem title="Salaries and jobs can’t change overnight–will the union have reasonable expectations that the Newberry can reach?">
<SlText>We recognize that salaries and other issues take time to solve, but it has been unclear for years how these issues are being prioritized. A union will not create immediate, drastic change, but it will ensure that the Library prioritizes these problems over time and provides a clear long-term plan for addressing them.</SlText>
<SlText>We understand that the Newberry has a complex financial situation. Creating a path to financial stability must include creating a path to fair, sustainable wages for all staff members. </SlText>
<SlText>It is difficult for individuals to plan financially when we don't know if/when the next cost of living increase will be or if/when we will be getting a raise. A union will allow us to create transparency around these increases so we can plan better for our financial futures. We will be more effective as a staff when many of us no longer live paycheck to paycheck. </SlText>
        </AccordionItem>
        <AccordionItem title="What is the union fighting for besides higher wages?">
            <SlText>An official voice in long-term decision making around financial and institutional priorities. We love this institution, care about its future, and want to help guide it forward in a sustainable and equitable way.</SlText>
            <SlText>Stronger protections around hostile work environments, which some of our colleagues experience.</SlText>
            <SlText>Retention of staff by creating a positive work environment (the cost of replacing a worker is equal to approximately 6-9 months of that worker's salary (<a href="https://lrshrm.shrm.org/blog/2017/10/essential-elements-employee-retention" >2017 Society for Human Resource Management study</a>)</SlText>
            <SlText>Other things! Look at the Bargaining Survey tab for an initial survey of other bargaining priorities. </SlText>
        </AccordionItem>
        <AccordionItem title="I’m worried that unionizing will increase bureaucracy and harm my relationship with my manager.">
            <SlText>A union isn’t there to speak for you, especially in your personal relationships with your manager and colleagues. It’s there to help you and support you in advocating for yourself on issues that impact all staff members. </SlText>
            <SlText>Increased bureaucracy is a real concern, and it is likely that the union will increase the time it takes to implement some institution-wide changes. But that longer timeframe will give us an official opportunity to discuss any changes and share our ideas with our leadership.</SlText>
        </AccordionItem>
        <AccordionItem title="Why can’t we wait to see what this new management can accomplish?">
            <SlText>We believe in our current management, but the personal commitment of a single leader is not the same as the institutional responsibility a union will create. Current leadership could leave at any time and we cannot guarantee the policies of whoever may follow them. As a staff, we need an official way to be involved with institutional decisions over a longer period of time than one person (or a group of people’s) tenure.</SlText>
            <SlText>We respect  and appreciate the personal open-door policy of many senior staff members and directors. Personal access is not the same thing as institutional</SlText>
        </AccordionItem>
        <AccordionItem title="If we vote to unionize, what happens after the election?">
<SlText>We will have one or two organizational meetings open to all members in which we decide on office positions (including a Bargaining Committee), nominate and vote on office holders, establish a regular meeting schedule, and decide on other necessary kinds of communication and organization.</SlText>
<SlText>The Bargaining Committee will circulate a more detailed bargaining survey to get clearer information on our priorities. They will also hold multiple listening sessions where members can discuss priorities and raise concerns. </SlText>
<SlText>With support from professional negotiators from AFSCME, the Bargaining Committee will sit down with Library leadership for a series of bargaining sessions. This may take a long time, because we will need to have detailed, thoughtful conversations. </SlText>
<SlText>When the Bargaining Committee and Library leadership have reached an agreement, the entire union membership will vote on the draft contract. </SlText>
<SlText>If we approve the contract, it will go into effect and we will start paying dues. If not, we will continue to negotiate.</SlText>

        </AccordionItem>
        <AccordionItem title="Why has communication been so spotty?">
            <SlText>Since using Newberry resources is strictly prohibited, we can only reach out to people via personal email and word of mouth. Unfortunately, this means that some people can fall through the cracks. We are working on more effective communication, starting with this website. If you’re eligible to join the union and would like to join the email list, please <a href="https://forms.gle/y3BG1vpf4ewLh9CG9" target="_blank">add your email here</a>. We will circulate other ways to be involved after the election.
            </SlText>
        </AccordionItem>
        <AccordionItem title="I have other questions that aren’t addressed here.">

            <SlText>Please come talk to one of us on the “Your Co-Workers Voting Yes” page!</SlText>
        </AccordionItem>

    </Accordion>
</div>