<script>
    // import { data, instas, modalItem, modalOpen } from '$src/stores'
    import { Modal } from "carbon-components-svelte"
    export let open
    const close = () => {
        open = false
    }
</script>

<Modal 
    passiveModal 
    modalHeading="" 
    size="lg"
    bind:open={open}
    on:click={() => close()} 
    >
    <slot />
</Modal>

<style>
</style>