<!-- <script>
    import { RecursiveList } from "carbon-components-svelte";
	import { each } from "svelte/internal";
  
    const children = [
      {
        text: "General",
        children: [
            { 
                html: "<span class='bold'>Cultural Workers United.</span><span class='normal'>“Cultural Institutions Cashed in; Workers Got Sold Out.” AFSCME/CWU. 2021.</span> ",
                href: "https://report.culturalworkersunited.org/", 
            },
            { 
                html: "<span class='bold'>Ettarh, Fobazi.</span><span class='normal'>“Vocational Awe and the Librarianship: The Lies We Tell Ourselves.”</span> <span class='italics'>In The Library With the Lead Pipe.</span> ",
                href: "https://www.inthelibrarywiththeleadpipe.org/2018/vocational-awe/",
            },
            { 
                html: "<span class='bold'>Holland, Michael.</span><span class='normal'>“7 Factors that Drive Museum Wages Down.” American Alliance of Museums. February 21, 2018. </span>",
                href: "https://www.aam-us.org/2018/02/21/7-factors-that-drive-museum-wages-down/",
            },
            { 
                html: "<span class='bold'>New England Museum Association.</span><span class='normal'>“Museums and Unions: Q&A with Maro Elliot, MASS MoCA; Chelsea Farrrell, UAW Local 2110; Daniel Morse, AFSCME Council 93; and Rachel Quimby, EcoTarium.” 2022. </span>",
                href: "https://nemanet.org/files/8116/3733/5559/NEMA__Museums__Unions__QA.pdf",
                children: [
                    {
                        html: "<span class='italics'>lays out the process of forming a union clearly</span>"
                    }
                ]
            },
            { 
                html: "<span class='bold'>Newport, Kara.</span><span class='normal'>“Museums and the Living Wage: How Filoi Developed a Bold Pay Equity Initiative.” Center for the Future of Museums Blog. American Alliance of Museums. August 17, 2022. </span>",
                href: "https://www.aam-us.org/2022/08/17/museums-and-the-living-wage-how-filoli-developed-a-bold-pay-equity-initiative/",
            },

        ],
      },
      {
        text: "Examples",
        children: [
            { html: "<span class='bold'>Oladipo, Doyinsola.</span><span class='normal'>“Museum Workers, Jolted by Pandemic Job Losses, Turn to Unions.” Bloomberg. October 4, 2021. <a href='https://www.bloomberg.com/news/articles/2021-10-04/museum-workers-embrace-unions-after-pandemic-job-cuts'>https://www.bloomberg.com/news/articles/2021-10-04/museum-workers-embrace-unions-after-pandemic-job-cuts</a></span>"},
            { html: "<span class='bold'>Kane-Salafia, Ezra.</span><span class='normal'>“Minnesota Historical Society Workers Win their Union Despite Daunting Odds.” AFSCME. February 2, 2022. <a href='https://www.afscme.org/blog/minnesota-historical-society-workers-win-their-union-despite-daunting-odds'>https://www.afscme.org/blog/minnesota-historical-society-workers-win-their-union-despite-daunting-odds</a></span>"},
            { html: "<span class='bold'>Knezevich, Alison.</span><span class='normal'>“Baltimore County Library Employees Ratify First Union Contract.” The Baltimore Sun. May 2, 2022. <a href='https://www.baltimoresun.com/maryland/baltimore-county/bs-md-co--20220502-xlcwpa3hwrcfxnjud3p4kfnm7a-story.html'>https://www.baltimoresun.com/maryland/baltimore-county/bs-md-co--20220502-xlcwpa3hwrcfxnjud3p4kfnm7a-story.html</a></span>"},
        ],
      },
      {
        text: "Reference Tools",
        children: [{
            text: "Living Wage calculator",
            href: "https://livingwage.mit.edu/counties/17031"
        }]
      },
    ];
</script>
  
<div class="wrapper">
    <dl>
        {#each children as child}
            {#each child.children as ch}
            <dt>{ch.html}</dt>
            <dd>{ch.href}</dd>
            {/each}
        {/each}
    </dl>
</div>
<div class="wrapper">

    <RecursiveList {children} />
</div>
   -->