<script>


import { StructuredList,
    // StructuredListHead,
    StructuredListRow,
    StructuredListCell,
    StructuredListBody, } from "carbon-components-svelte";
</script>

<StructuredList condensed>
    <StructuredListBody>
        <StructuredListRow>
            <StructuredListCell>
                <slot />
            </StructuredListCell>
        </StructuredListRow>
    </StructuredListBody>
</StructuredList>