<script>
  import {
    StructuredList,
    StructuredListHead,
    StructuredListRow,
    StructuredListCell,
    StructuredListBody,
  } from "carbon-components-svelte";
</script>
<div class="padwrapper">

    <StructuredList>
        <StructuredListBody>
            <!-- <StructuredListRow><StructuredListCell><span class="bold big">General</span></StructuredListCell></StructuredListRow>
              
              <StructuredListRow><StructuredListCell><span class="bold">Ettarh, Fobazi.</span> “Vocational Awe and the Librarianship: The Lies We Tell Ourselves.” In The Library With the Lead Pipe. <a href="https://www.inthelibrarywiththeleadpipe.org/2018/vocational-awe/">https://www.inthelibrarywiththeleadpipe.org/2018/vocational-awe/</a></StructuredListCell></StructuredListRow>
              <StructuredListRow><StructuredListCell><span class="bold">Holland, Michael.</span> “7 Factors that Drive Museum Wages Down.” American Alliance of Museums. February 21, 2018. <a href="https://www.aam-us.org/2018/02/21/7-factors-that-drive-museum-wages-down/">https://www.aam-us.org/2018/02/21/7-factors-that-drive-museum-wages-down/</a></StructuredListCell></StructuredListRow>
              <StructuredListRow><StructuredListCell><span class="bold">New England Museum Association.</span> “Museums and Unions: Q&A with Maro Elliot, MASS MoCA; Chelsea Farrrell, UAW Local 2110; Daniel Morse, AFSCME Council 93; and Rachel Quimby, EcoTarium.” 2022. <a href="https://nemanet.org/files/8116/3733/5559/NEMA__Museums__Unions__QA.pdf">https://nemanet.org/files/8116/3733/5559/NEMA__Museums__Unions__QA.pdf</a></StructuredListCell></StructuredListRow>
              <StructuredListRow><StructuredListCell><span class="bold">Newport, Kara.</span> “Museums and the Living Wage: How Filoi Developed a Bold Pay Equity Initiative.” Center for the Future of Museums Blog. American Alliance of Museums. August 17, 2022. <a href="https://www.aam-us.org/2022/08/17/museums-and-the-living-wage-how-filoli-developed-a-bold-pay-equity-initiative/">https://www.aam-us.org/2022/08/17/museums-and-the-living-wage-how-filoli-developed-a-bold-pay-equity-initiative/</a></StructuredListCell></StructuredListRow>
              <StructuredListRow><StructuredListCell><span class="bold">Cultural Workers United. </span>“Cultural Institutions Cashed in; Workers Got Sold Out.” AFSCME/CWU. 2021. <a href="https://report.culturalworkersunited.org/">https://report.culturalworkersunited.org/</a></StructuredListCell></StructuredListRow>
              
              <StructuredListRow><StructuredListCell><span class="bold big">Examples</span></StructuredListCell></StructuredListRow>
              
              <StructuredListRow><StructuredListCell><span class="bold">Oladipo, Doyinsola.</span> “Museum Workers, Jolted by Pandemic Job Losses, Turn to Unions.” Bloomberg. October 4, 2021. <a href="https://www.bloomberg.com/news/articles/2021-10-04/museum-workers-embrace-unions-after-pandemic-job-cuts">https://www.bloomberg.com/news/articles/2021-10-04/museum-workers-embrace-unions-after-pandemic-job-cuts</a></StructuredListCell></StructuredListRow>
              <StructuredListRow><StructuredListCell><span class="bold">Kane-Salafia, Ezra.</span> “Minnesota Historical Society Workers Win their Union Despite Daunting Odds.” AFSCME. February 2, 2022. <a href="https://www.afscme.org/blog/minnesota-historical-society-workers-win-their-union-despite-daunting-odds">https://www.afscme.org/blog/minnesota-historical-society-workers-win-their-union-despite-daunting-odds</a></StructuredListCell></StructuredListRow>
              <StructuredListRow><StructuredListCell><span class="bold">Knezevich, Alison.</span> “Baltimore County Library Employees Ratify First Union Contract.” The Baltimore Sun. May 2, 2022. <a href="https://www.baltimoresun.com/maryland/baltimore-county/bs-md-co--20220502-xlcwpa3hwrcfxnjud3p4kfnm7a-story.html">https://www.baltimoresun.com/maryland/baltimore-county/bs-md-co--20220502-xlcwpa3hwrcfxnjud3p4kfnm7a-story.html</a></StructuredListCell></StructuredListRow>
              
              <StructuredListRow><StructuredListCell><span class="bold big">Reference Tools</span></StructuredListCell></StructuredListRow>
              <StructuredListRow><StructuredListCell><a href="https://livingwage.mit.edu/counties/17031 ">Living Wage calculator</a></StructuredListCell></StructuredListRow> -->
            
            <StructuredListRow><StructuredListCell><span class="bold">Ettarh, Fobazi.</span> “Vocational Awe and the Librarianship: The Lies We Tell Ourselves.” In The Library With the Lead Pipe. <a href="https://www.inthelibrarywiththeleadpipe.org/2018/vocational-awe/" target="_blank">https://www.inthelibrarywiththeleadpipe.org/2018/vocational-awe/</a></StructuredListCell></StructuredListRow>
            <StructuredListRow><StructuredListCell><span class="bold">Holland, Michael.</span> “7 Factors that Drive Museum Wages Down.” American Alliance of Museums. February 21, 2018. <a href="https://www.aam-us.org/2018/02/21/7-factors-that-drive-museum-wages-down/" target="_blank">https://www.aam-us.org/2018/02/21/7-factors-that-drive-museum-wages-down/ </a></StructuredListCell></StructuredListRow>
            <StructuredListRow><StructuredListCell><span class="bold">New England Museum Association.</span> “Museums and Unions: Q&A with Maro Elliot, MASS MoCA; Chelsea Farrrell, UAW Local 2110; Daniel Morse, AFSCME Council 93; and Rachel Quimby, EcoTarium.” 2022. <a href="https://nemanet.org/files/8116/3733/5559/NEMA__Museums__Unions__QA.pdf" target="_blank">https://nemanet.org/files/8116/3733/5559/NEMA__Museums__Unions__QA.pdf </a></StructuredListCell></StructuredListRow>
            <StructuredListRow><StructuredListCell><span class="bold">Newport, Kara.</span> “Museums and the Living Wage: How Filoi Developed a Bold Pay Equity Initiative.” Center for the Future of Museums Blog. American Alliance of Museums. August 17, 2022. <a href="https://www.aam-us.org/2022/08/17/museums-and-the-living-wage-how-filoli-developed-a-bold-pay-equity-initiative/" target="_blank">https://www.aam-us.org/2022/08/17/museums-and-the-living-wage-how-filoli-developed-a-bold-pay-equity-initiative/ </a></StructuredListCell></StructuredListRow>
        </StructuredListBody>
    </StructuredList>
</div>



