<script>
    import { RecursiveList } from "carbon-components-svelte";
  
    const children = [
        { 
            text: "Does your employer currently identify you as the supervisor/manager of any other employee(s)?",
            children: [{
                text: "An \"employee\" is defined as a regular full- or part-time employee of the organization who receives a regular paycheck from the organization. This could be a temporary or grant-funded employee, but not a volunteer, intern, or contract worker.",
            }],
        },{
            text: "Are you responsible for hiring these employees or any employees of the organization?",
            children: [{
                text: "If yes, is this your responsibility alone, or do you share the responsibility?",
                    children: [{
                        text: "For hiring, the issue is whether the alleged supervisor can either hire independently or effectively recommend hiring. If the alleged supervisor interviews and selects candidates jointly with the alleged supervisor's own supervisor and decisions are made by consensus, then that is not hiring with independent judgment."
                    }]
            }]
        },{
            text: "Do you assign and direct the work of these employees or any employees of the organization?",
            children: [{
                text: "\"Assign and direct\" is defined as using your independent judgment and discretion to delegate specific tasks and projects to specific employees for whose work you have oversight and responsibility. It is not performing routine tasks like making a schedule to achieve an equal distribution of work.",
                children: [{
                        text: "\"Assign\" is the assignment of an employee to a certain department or to a certain shift or to certain significant overall tasks."
                    },{
                        text: "\"Direct\" is to give instructions as to job duties to be performed, and when and how they should be performed, if the directions involve independent judgment. Also, the alleged supervisor must be held accountable for the work of the subordinate employees, eg. where the alleged supervisor is evaluated on how well the subordinate employees perform their work."
                },{
                    text: "If yes, how do your regular job duties compare to those of the employees whose work you assign and direct? Are they substantially similar, or are they different? If they are different, in what ways?"
                }]
            }]
        },{
            text: "Do you evaluate the work of these employees or any employees of the organization?",
            children: [
                { text: "If yes, do you have the power to award or to effectively recommend a promotion or raise?"},
                { 
                    text: "Do you have the power to discipline or to terminate employment, or to effectively recommend discipline or termination?",
                    children: [
                        {text: "\"Effectively recommend\" means that on your recommendation the action would be carried out without further investigation."}
                    ]
                },
            ] 
        },{
            text: "Do you sign off on timecards or vacation time for these employees or any employees of the organization?",
            children: [
                { text: "If yes, do you do this as a routine task or do you use independent judgment and discretion?"}
            ]
        }
    ]
</script>
<div class="wrapper">
    <RecursiveList type="ordered" {children} />
</div>
  