<script>
    import { onMount } from 'svelte';
    import {
    Theme,
    Button,
    } from "carbon-components-svelte";
    
    import Sun from "carbon-icons-svelte/lib/Sun.svelte";
    import Moon from "carbon-icons-svelte/lib/Moon.svelte";

    let darkMode 
    
    onMount(() => {
        darkMode = window.matchMedia('(prefers-color-scheme: dark)');
    })
    $: theme = darkMode ? "g100" : "g10"

</script>

<Theme bind:theme />

<Button iconDescription={`Switch to ${theme === "g10" ? "dark" : "light"} mode`} on:click={() => theme = theme === "g10" ? "g100" : "g10" } kind="ghost" >
    {#if theme === "g10"}
        <Sun size=32 />
    {:else }
        <Moon size=32 />
    {/if}
</Button>
