<script>
    // import "carbon-components-svelte/css/g10.css";
    import "carbon-components-svelte/css/all.css";
    import '../css/global.css';
    import {
      Header,
      HeaderNav,
      HeaderNavItem,
      HeaderNavMenu,
      HeaderUtilities,
      SkipToContent,
    } from "carbon-components-svelte";
	import Background from "../lib/Background.svelte";
    import Theme from "../lib/Theme.svelte";
</script>

  
<Background />
<Header company="Newberry" platformName="Workers United" href="/">
    <svelte:fragment slot="skip-to-content">
        <SkipToContent />
    </svelte:fragment>
    <HeaderUtilities>
        <Theme />
    <!-- <HeaderNav>
        <HeaderNavItem href="/" text="FAQs" />
        <HeaderNavItem href="/" text="Mission" />
        <HeaderNavItem href="/" text="Link 3" />
        <HeaderNavMenu text="Menu">
            <HeaderNavItem href="/" text="Link 1" />
            <HeaderNavItem href="/" text="Link 2" />
            <HeaderNavItem href="/" text="Link 3" />
        </HeaderNavMenu>
    </HeaderNav> -->
    </HeaderUtilities>
</Header>
<slot />
