<script>
    import {
      Content,
      Grid,
      Row,
      Column,
      Tabs, Tab, TabContent,
    } from "carbon-components-svelte";
    import { selected } from '../stores'
	import Faq from "../lib/Faq.svelte";
	import Salaries from "../lib/Salaries.svelte";
	import StructuredResources from "../lib/StructuredResources.svelte";
	import BargainSurv from "../lib/BargainSurv.svelte";
	import About from "../lib/About.svelte";
	import Coworkers from "../lib/Coworkers.svelte";
	import Afscme from "../lib/Afscme.svelte";
</script>

<Content>
    <Grid>
        <Row>
            <Column>
                <!-- <h1>Newberry Workers United</h1> -->
                <div class="wrap">

                  <Tabs autoWidth bind:selected={$selected}>
                    <Tab label="About Our Union" />
                    <Tab label="FAQs" />
                    <Tab label="Co-Workers Voting Yes" />
                    <Tab label="Bargaining Survey" />
                    <Tab label="About AFSCME" />
                    <Tab label="Learn More" />
                    <svelte:fragment slot="content">
                      <TabContent><About /></TabContent>
                      <TabContent><Faq /></TabContent>
                      <TabContent><Coworkers /></TabContent>
                      <TabContent><BargainSurv /></TabContent>
                      <TabContent><Afscme /></TabContent>
                      <TabContent><StructuredResources /></TabContent>
                      
                    </svelte:fragment>
                  </Tabs>
                </div>
            </Column>
        </Row>
    </Grid>
</Content>
