
/* :global(body){
    background: url('newberry-workers-united.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} */
body {
    /* background: white; */
}
.wrap {
    /* background: #f4f4f4; */
}
.bx--header {
    background: var(--cds-ui-01, #f4f4f4) !important;
    color:  var(--cds-text-01);
}
.bx--tabs {
    display: flex;
    justify-content: center;
}
a.bx--header__name {
    color:  var(--cds-text-01) !important;

}
a, a.bx--header__name:hover {
    color: var(--cds-link-01, #78a9ff) !important;
}
.bx--structured-list.bx--structured-list--condensed{
    margin-bottom: 10px !important;
}

.bx--data-table--sticky-header {
    max-height: calc(100vh - 220px) !important;
}
.bold {
    font-weight: bold;
}
.italics {
    font-style: italic;
}
.normal {
    padding: 0 5px;
}
.big{
    font-size: 1.25em;
}
.bx--accordion__title {
    font-weight: 500;
}
.bx--accordion__content {
    color: #525252;
}
.bx--accordion__content .bx--structured-list-td, .bx--accordion__content .bx--structured-list-row {
    border-bottom-color: transparent !important; 
}
.bx--btn--disabled {
    color: #0f62fe !important;
}

.scroller .bx--btn-set {
    max-width: 100%;
}
@media screen and (max-width: 1000px) {
    .wrapper {
        width: 100%;
        margin: auto;
    }
    .padwrapper {
    
        padding-top: 25px;
        width: 100%;
        margin: auto;
    }
    .header-text {
        width: 100%;
        margin: auto;
    }
    .nonmodal-image {
        width: 100%;
    }
    .flexor {
        max-height: calc(100vh - 120px);
        flex-direction: column;
    }
    blockquote{
        width: 100%;
    }
    .bx--content, .bx--grid, .box--column {
        padding: 2px;
    }

    .flexor:first-child {
        flex:1;
    }
    .scroller {
    
        /* max-height: 40vh; */
    }
}
@media screen and (min-width: 1001px) {
    .wrapper {
        width: 70%;
        margin: auto;
    }
    .padwrapper {
    
        padding-top: 25px;
        padding-left: 25px;
        width: 70%;
        margin: auto;
    }
    .header-text {
        width: 50%;
        margin: auto;
    }
    .nonmodal-image {
        max-width: 70%;
    }
    .flexor {
        flex-direction: row;
    }
    
    blockquote{
        width: 80%;
    }
    .scroller {
        /* flex: 1; */
        max-height: calc(100vh - 220px);
    }
}

.nonmodal-image {
    margin: 20px 0;
}
.modal-image {
    width:95%; 
    height:95%;
    object-fit: contain;
}
img {
    filter: drop-shadow(rgba(37,37,37,0.5) 0px 0px 10px);

}
.just-a-uniq-class .bx--tile {
    height: 100%;
}

.flexor {
    display: flex;
    /* justify-content: space-between; */
}
.fake-link {
    cursor: pointer;
    text-decoration: underline;
}
/* .fake-link:hover {
} */